@import './variables.scss';

.header{
    //font-family: 'Roboto';
    //font-size: 16px;
    width: $headerWidth;
    min-height: $headerHeight;

    .menuSection{
        height: 95px;
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
        align-items: center;

        #mobileLogo{
            height: $logo;
            width: $logoWidht;
            margin-left: 22px;
            font-weight: bold;
            font-family: 'Roboto';
        }

        #menuIcon, #closeMenu{
            width: $menuIconWidth;
            height: $menuIconHeight;
            //margin-right: 24px;
            pointer-events: none;
        }
    }
}